/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
/************** WORK HERE *****************/
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_ZpC3gnD-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'), url(https://fonts.gstatic.com/s/playfairdisplay/v15/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYhQ.ttf) format('truetype');
}
html {
  font-size: 62.5%;
}
html hr {
  width: 100%;
  overflow: visible;
  /* For IE */
  padding: 0;
}
body {
  background-color: #f1f1f2;
  line-height: 1.5;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: "Montserrat", sans-serif;
}
body p,
body ul,
body a {
  font-family: "Playfair Display", sans-serif;
  font-size: 1.6rem;
}
@media (max-width: 800px) {
  body p,
  body ul,
  body a {
    font-size: 1.4rem;
  }
}
@media (max-width: 500px) {
  body p,
  body ul,
  body a {
    font-size: 1.2rem;
  }
}
body ul {
  list-style: disc;
  list-style-position: inside;
}
body h1 {
  font-size: 5rem;
  text-transform: uppercase;
}
@media (max-width: 500px) {
  body h1 {
    font-size: 3rem;
  }
}
body h2 {
  font-size: 2.5rem;
}
@media (max-width: 500px) {
  body h2 {
    font-size: 2rem;
  }
}
body h3 {
  font-size: 2rem;
}
@media (max-width: 500px) {
  body h3 {
    font-size: 1.6rem;
  }
}
body h4 {
  font-size: 1.6rem;
}
@media (max-width: 500px) {
  body h4 {
    font-size: 1.4rem;
  }
}
.bgContainer {
  background-image: url(../img/bg.jpg);
  background-size: 100%;
  width: 95%;
  margin: 3rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1400px) {
  .bgContainer {
    width: 80%;
  }
}
.container {
  width: 100%;
  padding: 2% 2%;
  display: flex;
  flex-flow: row nowrap;
}
@media (max-width: 500px) {
  .container {
    flex-flow: column-reverse nowrap;
  }
}
.container .sideBar {
  width: 25%;
  padding: 3% 3%;
  background-color: #02101d;
  display: flex;
  flex-flow: column nowrap;
  color: #f1f1f2;
}
@media (max-width: 500px) {
  .container .sideBar {
    width: 100%;
    text-align: center;
  }
}
.container .sideBar a {
  color: #a1d6e2;
  text-decoration: none;
}
.container .sideBar a:hover {
  color: #f1f1f2;
}
.container .sideTop {
  display: flex;
  justify-content: center;
  height: 200px;
  padding-bottom: 10%;
}
@media (max-width: 500px) {
  .container .sideTop {
    height: 100%;
  }
}
.container .sideTop .contact {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}
.container .sideTop .contact div {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}
.container .sideTop .contact div div:first-child {
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .sideTop .contact div div:last-child {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 500px) {
  .container .sideTop .contact {
    align-items: center;
  }
}
.content {
  width: 75%;
  padding: 3% 3%;
  background-color: #f1f1f2;
  display: flex;
  flex-flow: column nowrap;
  color: #02101d;
}
@media (max-width: 500px) {
  .content {
    width: 100%;
  }
}
.content a {
  color: #1995ad;
  font-family: "Playfair Display", sans-serif;
  text-decoration: none;
}
.content a:hover {
  color: #02101d;
}
.content .contentTop {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 200px;
  padding-bottom: 10%;
}
@media (max-width: 500px) {
  .content .contentTop {
    height: 100%;
  }
}
.content .contentTop .navContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.content .contentTop .navContainer nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.content .mainContent {
  display: flex;
  flex-flow: column nowrap;
}
.content .mainContent .skillsAndHobbies {
  display: flex;
  flex-flow: row wrap;
}
.content .mainContent .skillsAndHobbies #skills,
.content .mainContent .skillsAndHobbies #hobbies {
  width: 50%;
}
.content .mainContent .backToTop {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.divIcons {
  display: flex;
  justify-content: space-around;
}
