// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
box-sizing: border-box;
// border: 1px dotted red !important;
}

html, body {
height: 100%;
}



/************** WORK HERE *****************/
@import url('https://fonts.googleapis.com/css?family=Montserrat:500|Playfair+Display&display=swap');

@mainColor: #2A3132;
@subColor: #90AFC5;
@headerFont: 'Montserrat', sans-serif;
@pFont: 'Playfair Display', sans-serif;


html{
font-size: 62.5%;


hr{
width: 100%;
overflow: visible; /* For IE */
padding: 0;
}


}

body{
	background-color: white;

	line-height: 1.5;

	h1,h2,h3,h4,h5,h6{
		font-family: @headerFont;
	}

	p, ul{
		font-family: @pFont;
		font-size: 1.6rem;

		@media (max-width: 800px){
			font-size: 1.4rem;
		}

		@media (max-width: 500px){
			font-size: 1.2rem;
		}
	}

	ul{
		list-style: disc;
		list-style-position: inside;
	}



	h1{
		font-size: 5rem;

		@media (max-width: 500px){
			font-size: 3rem;
		}
	}
	h2{
		font-size: 2.5rem;

		@media (max-width: 500px){
			font-size: 2rem;
		}
	}
	h3{
		font-size: 2rem;

		@media (max-width: 500px){
			font-size: 1.6rem;
		}
	}
	h4{
		font-size: 1.6rem;

		@media (max-width: 500px){
			font-size: 1.4rem;
		}
	}



	// @media (max-width: 800px){
	// 	background-color: lightblue ;
	// }


	// @media (max-width: 500px){
	// 	background-color: lightseagreen;
	// }
}

.top(){
	height: 200px;
	padding-bottom: 10%;

	@media (max-width: 500px){
		height: 100%;
	}
}

.center(){
	text-align: center;
}

.container{
// border: 1px solid red !important;

	width: 80%;
	margin: 3rem auto;
	display: flex;
	flex-flow: row nowrap;
	font-size: 1.6rem;

		@media (max-width: 500px){
			flex-flow: column-reverse nowrap;
			margin: 2rem auto;
			width: 90%;
		}

		@media (max-width: 800px){
			margin: 2rem auto;
			width: 90%;
		}
		
		
	.sideBar{
		// border: 1px solid blue !important;
		width: 25%;
		padding: 3% 3%;
		background-color: @mainColor;
		color: @subColor;
		display: flex;
		flex-flow: column nowrap;

		@media (max-width: 500px){
			width: 100%;
			.center();
		}

		a{		
			color: @subColor;
			font-family: @pFont;
			text-decoration: none;
		}
		a:hover{                 
			color: white;			
			font-family: @pFont;
		}

	
	}

	



	.sideTop{
		// border: 1px solid red !important;
		display: flex;
		justify-content: center;

		
		.top();	
		
		
		
		.contact{
				width: 100%;
				display: flex;
				flex-flow: column nowrap;
				align-items: flex-start;

				@media (max-width: 500px){
					align-items: center;
				}
		}
		
	}

		
}



	.content{
		// border: 1px solid blue !important;
		width: 75%;
		padding: 3% 3%;
		background-color: @subColor;
		color: @mainColor;
		display: flex;
		flex-flow: column nowrap;

		@media (max-width: 500px){
			width: 100%;
		}

		a{
			color: @mainColor;
			font-family: @pFont;
			text-decoration: none;

			@media (max-width: 500px){
				font-size: 1.2rem;
			}
		}

		a:hover{
			color: @subColor;
			background-color: @mainColor;
			font-family: @pFont;
		}

		.contentTop{
			// border: 1px solid red !important;
			display: flex;
			flex-flow: column nowrap;
			justify-content: flex-start;
			align-items: center;

			
			.top();


			.navContainer{
				// border: 1px solid blue !important;
				width: 100%;
				display: flex;
				justify-content: center;

				

				nav{
					display: flex;
					width: 100%;
					justify-content: space-around;
				}
			}

				
			
		}

		.mainContent{
			display: flex;
			flex-flow: column nowrap;

			.skillsAndHobbies{
				display: flex;
				flex-flow: row wrap;

				#skills, #hobbies{
					width: 50%;
				}
			}
		}
	}


.divIcons{
display: flex;
justify-content: space-around;
}





